.Contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.Contact-header {
    font-size: 1rem;
    font-weight: bolder;
    color: #148fb8;
}

.Contact-link {
    font-size: 1rem;
    font-weight: normal;
    color: #1B1B1B;
    text-decoration-line: none;
    width: 60%;
}