.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
}

.contact-header {
  font-size: var(--font-size-h5);
  font-weight: bolder;
  color: var(--primary-color);
}

.contact-link {
  font-size: var(--font-size-h5);
  font-weight: normal;
  color: var(--text-color);
  text-decoration-line: none;
  width: 60%;
}