.profile-item {
  display: flex;
  flex-direction: row;
  border-bottom: 0.05rem solid var(--border-color);
  padding: 0 0 2rem 0;
  gap: 2.5rem;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.profile-item .profile-paragraph {
  width: 100%;
}

.profile-item-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.profile-item-title {
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-h3);
}

.profile-item-duration {
  color: var(--sub-text-color);
  font-size: var(--font-size-h6);
}

.profile-item-description {
  color: var(--sub-text-color);
  font-size: var(--font-size-h6);
  white-space: break-spaces;
}