.Profile {
  background-color: #FFFFFF;
  min-height: 100vh;
  max-width: 100vh;
  min-width: 70vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
  justify-content: start;
  padding: 4rem 4rem 2rem 4rem;
}

.Profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2.5rem;
}

.Profile-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.Contact-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 30%;
  max-width: 60%;
}

.Item-block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.Profile-header {
  font-size: 1.5rem;
  font-family: 'NanumSquareNeoExtraBold', serif;
  color: #148fb8;
}

.Profile-paragraph {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
  overflow-wrap: break-word;
  color: #1B1B1B;
  vertical-align: text-top;
  margin-block-start: 0;
}

ul {
  margin-block: 0;
  padding-inline-start: 1rem;
}