.Profile {
  background-color: #FFFFFF;
  min-height: 100vh;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
  justify-content: start;
  padding: 4rem 4rem 2rem 4rem;
}

.Profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Profile-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Profile-header {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #148fb8;
}

.Profile-paragraph {
  font-size: 1.2rem;
  font-weight: normal;
  overflow-wrap: break-word;
  color: #1B1B1B;
}
