.Profile {
  background-color: #FFFFFF;
  min-height: 100vh;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
  justify-content: start;
  padding: 4rem 4rem 6rem 4rem;
}

.Profile-container {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: 2rem;

  @media(max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.Profile-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.Contact-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Item-block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.Profile-header {
  font-size: 2rem;
  font-family: 'NanumSquareNeoExtraBold', serif;
  color: #148fb8;
}

.Profile-paragraph {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  overflow-wrap: break-word;
  white-space: break-spaces;
  color: #1B1B1B;
  vertical-align: text-top;
  margin-block-start: 0;
}

.Project-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media(max-width: 981px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.Project-item {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.4rem;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  gap: 0.5rem;

  & > .Profile-item-duration {
    font-size: 1.2rem;
  }

  & > .Profile-item-title {
    font-size: 1.5rem;
  }

  & > .Profile-item-description {
    font-size: 1.2rem;
  }

  & > .Profile-paragraph {
    font-size: 1.3rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0;
    box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.1);
    background: #148fb8;
    color: #FFFFFF;
    border-radius: 1.2rem;
  }

  & > .Project-image {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 15rem;
    height: 15rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    & > img {
      flex: 0 0 auto;
      scroll-snap-align: center;
      width: 15rem;
      height: 15rem;
      border-radius: 1.2rem;
      object-fit: cover;
      object-position: top;
      align-self: center;
      justify-self: center;
    }
  }

  & > span {
    padding: 0.2rem;
    font-size: 1.2rem;
  }

  & > .Project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;

    & > a {
      text-decoration: none;
      color: #1B1B1B;
      font-size: 1.2rem;
      border-radius: 1.2rem;
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
      padding: 1rem 1rem
    }
  }

}

.Project-skill {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;

  & > span {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background: #61dafb;
    border-radius: 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}


ul {
  margin-block: 0;
  padding-inline-start: 1rem;
}